.project_item {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.project_image {
  position: relative;
  width: 100%;
  aspect-ratio: 125 / 58;
}

.project_image > img {
  object-fit: cover;
  object-position: top center;
}

.content {
  padding: 0.8rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0 0.8rem;
}

.header > h3 {
  font-size: 1.5rem;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header > div a {
  color: var(--text-light);
}

.tech {
  display: flex;
  gap: 0.5rem;
}

.tech_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 8px;
  padding-block: 2px;
  background-color: #fff;
  font-size: 0.75rem;
  text-transform: capitalize;
  border-radius: 6px;

  --alpha_value: 0.15;

  --react: hsl(192, 95%, 68%);
  --styled_components: hsl(317, 90%, 81%);
}

.tech_item[data-name='react'] {
  color: var(--react);
  background-color: hsla(192, 95%, 68%, var(--alpha_value));
}

.tech_item[data-name='styled components'] {
  color: var(--styled_components);
  background-color: hsla(317, 90%, 81%, var(--alpha_value));
}

.description {
  font-size: 0.875rem;
  margin-top: 0.6rem;
  padding-top: 0.8rem;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}
