/* VARIABLES */
:root {
  --text-main: #cbccce;
  --text-light: #fff;
  --text-dark: #333;
  --bg-dark: #13161f;
  --accent: #2c1996;
}

/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
}

body {
  min-height: 100svh;
  min-height: 100vh;
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  background-color: var(--bg-dark);
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--text-light);
  font-weight: 700;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

/* CUSTOM STYLES */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(100% - 3rem, 800px);
  margin-inline: auto;
}

.primary-btn {
  /* background-color: #00AA8F; */
  background-color: var(--accent);
  padding: 0.8em 1.2em;
  text-transform: capitalize;
  border-radius: 6px;
  color: var(--bg-dark);
  font-weight: 500;
  color: var(--text-light);
}
